.pagination_nav{
    // background: brown;
    text-align: center;
    margin: 100px auto 60px auto;
    border-bottom: 2px solid $accent;
    max-width: 1394px;

    .nav_links{
        margin: 1em auto;
        font-size: .83333rem;
        line-height: 1.3;

        a{
            transition: background-color .15s, ease-in-out;
        }

        a:hover,
        a:focus,
        .is-active,
        .current_page{
            background: $accent !important;
            outline: none;
        }

        .pagination_page-num{
            padding: 8px 10px !important;
            // background: brown;
            min-width: 40px;
            min-height: 36px;
        }
    }
}


@media screen and (max-width: 500px){
    main{
        nav{
            display: block !important;
        }
    }

    .pagination_nav{
        padding-bottom: 1em;

        .nav_links{
            .next,
            .prev{
               padding: initial 6px;
            }
        }
    }
}
// .is-active{

// }